h1, h3{
    font-family:'Courier New', Courier, monospace;
}

.btn{
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

dt{
    font-size: 18px;
    color: gray;
    padding: 20px;
    width: 300px;
}
#left{
    width: 30%;
}
#right{
    margin-top: 50px ;
}
.field{
    width: 500px;
    height: 30px;
}
#textarea{
    width: 500px;
    height: auto;
}
.content{
    display: inline;
    float:left;
}