body{
    background-color: rgb(245, 235, 235);
}
h1{
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;;
    height: 50px;
}
#p1{
    text-align: center;
    margin: 10px 50px;
}
.img{
    background-color: rgb(219, 164, 219);
    color: white;
    width: 200px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    padding: 90px 90px;
}
.title{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 25px;
}
.par{
    color: gray;
    
}
.element{
    width: 380px;
    margin-left: 30px;
    display: inline;
    float: left;
}
.content{
    background-color: white;
    margin-top: -20px;
    padding: 20px;
    height: 130px;
}
.btn{
    background-color: white;
    padding: 10px 20px;
}